:root {
    --ion-color-primary: #238047;
    --ion-color-primary-rgb: 35,128,71;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #1f713e;
    --ion-color-primary-tint: #398d59;

}